@model IEnumerable<Perchero.Models.Tela>

@{
    ViewBag.Title = "Telas";
}

<div class="contentpanel">

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-home mr5"></i> Inicio</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                @ViewBag.Title
                <div class="pull-right">
                    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-default btn-xs" })
                </div>
            </h4>
            <p></p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-striped-col">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio)
                            </th>
                            <th class="col-sm-1">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Precio)
                                </td>
                                <td class="col-sm-1 text-center">
                                    <a href="@Url.Action("Edit", "Telas", new { id = item.Id }) "><i class=" fa fa-pencil"></i></a>
                                    <a href="@Url.Action("Details", "Telas", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "Telas", new { id = item.Id })"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->
</div><!-- contentpanel -->
