@model Perchero.Models.DetallePrenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetallePrenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Avio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenda.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenda.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tela.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tela.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetroTela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetroTela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadAvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadAvio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
