@model IEnumerable<Perchero.Models.Pedido>

@{
    ViewBag.Title = "Pedidos Entrantes";
}

<div class="contentpanel">

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-home mr5"></i> Inicio</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                @ViewBag.Title
                <div class="pull-right hidden">
                    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-default btn-xs" })
                </div>
            </h4>
            <p></p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-striped-col">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Fecha de Pedido</th>
                            <th>Fecha de Entrega</th>
                            <th>Seña</th>
                            <th>Saldo</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Confeccion</th>
                            <th class="col-sm-1">Opciones</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Cliente</th>
                            <th>Fecha de Pedido</th>
                            <th>Fecha de Entrega</th>
                            <th>Seña</th>
                            <th>Saldo</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Confeccion</th>
                            <th class="col-sm-1">Opciones</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Usuario.Nombre @item.Usuario.Apellido</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.FechaPedido)</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.FechaEntrega)</td>
                                <td>@item.Seña</td>
                                <td>@item.Saldo</td>
                                <td>@item.Prenda.PrecioTotal</td>
                                @{
                            if (item.Estado)
                            {
                                <td><span class="label label-success">Pagado</span></td>
                            }
                            else
                            {
                                <td><span class="label label-danger">Debe</span></td>
                            }
                                }
                                @{
                            if (item.Terminado)
                            {
                                <td><span class="label label-success">Terminado</span></td>
                            }
                            else
                            {
                                <td><span class="label label-warning">Pendiente</span></td>
                            }
                                }
                                <td class="col-sm-1 text-center">
                                    <a href="@Url.Action("Terminado", "Pedidoes", new { id = item.Id })"><i class="fa fa-check-square"></i></a>
                                    <a href="@Url.Action("Pago", "Pedidoes", new {id = item.Id})"><i class="fa fa-money"></i></a>
                                    <a href="@Url.Action("Details", "Pedidoes", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "Pedidoes", new {id = item.Id})"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->
</div><!-- contentpanel -->