@model Perchero.Models.Pedido

@{
    ViewBag.Title = "Pagos de Pedidos";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="contentpanel">

        <ol class="breadcrumb breadcrumb-quirk">
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home mr5"></i>Inicio</a>
            </li>
            <li><a href="@Url.Action("Index","Avios")">Pedidos</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @ViewBag.Title
                    <div class="pull-right">
                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default btn-xs" })
                    </div>
                </h4>
                <p></p>
            </div>
            <div class="panel-body form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.PrendaId, "Prenda", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.PrendaId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DropDownList("PrendaId", null, htmlAttributes: new { @class = "form-control", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.PrendaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserId, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaPedido, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.FechaPedido, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.FechaPedido, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                        @Html.ValidationMessageFor(model => model.FechaPedido, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.FechaEntrega, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.FechaEntrega, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                        @Html.ValidationMessageFor(model => model.FechaEntrega, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Seña, "Importe", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Seña, new { htmlAttributes = new { @class = "form-control", @id = "senn" } })
                        @Html.ValidationMessageFor(model => model.Seña, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Saldo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="sal" class="form-control">@Html.DisplayFor(model => model.Saldo)</div>
                        @Html.HiddenFor(model => model.Saldo)
                    </div>
                </div>
                <div class="form-group hidden">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Estado)
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <input type="submit" value="Realizar Pago" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var pprenda = $("#Saldo").val();
            //$("#senn").attr('value', '');
            cal();
            function cal() {
                var se = $("#senn").val();
                var resta = pprenda - se;
                console.log(se);
                $("#sal").text(resta);
                $("#Saldo").attr('value', resta);
                console.log(resta);
                setTimeout(cal, 50);
            }
        });

    </script>
}
