@model Perchero.Models.Pedido

@{
    ViewBag.Title = "Pedido";
}


@using (Html.BeginForm("Pedido", "Pedidoes", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="contentpanel">

        <ol class="breadcrumb breadcrumb-quirk">
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home mr5"></i>Inicio</a>
            </li>
            <li><a href="@Url.Action("Galeria","Prendas")">Galeria de prendas</a></li>
            <li class="active">Crear Pedido</li>
        </ol>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Nuevo pedido
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="@Url.Action("Galeria", "Prendas")"><i></i>Volver</a>
                    </div>
                </h4>
                <p></p>
            </div>
            <div class="panel-body">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group hidden">
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.UserId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PrendaId, "Numero de pedido", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PrendaId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrendaId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaPedido, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaPedido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaPedido, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaEntrega, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaEntrega, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Seña, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Seña, new { htmlAttributes = new { @class = "form-control", id = "sena", max = Model.Prenda.PrecioTotal } })
                            @Html.ValidationMessageFor(model => model.Seña, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Saldo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="sal">
                            @Html.DisplayFor(model => model.Saldo, new { htmlAttributes = new { @class = "" } })
                        </div>
                        @Html.HiddenFor(model => model.Saldo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Saldo, "", new { @class = "text-danger" })
                    </div>
                    <div class="">
                        <br>
                        <div class="form-group pull-right">
                            <div class="col-md-4">
                                <input type="submit" value="Guardar" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#FechaPedido, #FechaEntrega').datepicker({dateFormat: "yy-mm-dd"});
            var pprenda = @Html.Raw(Json.Encode(Model.Prenda.PrecioTotal));
            cal();
            function cal(){
                var se = $("#sena").val();
                console.log(se);
                var resta =   pprenda - se;
                $("#sal").text(resta);
                $("#Saldo").attr('value', resta);
                //console.log(resta);
                setTimeout(cal,50);
            }
        });

    </script>
}

