@model Perchero.Models.Prenda
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Calcular", "Prendas", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="contentpanel">

        <ol class="breadcrumb breadcrumb-quirk">
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home mr5"></i>Crear Prenda</a>
            </li>
            <li><a href="@Url.Action("Index","Prendas")">Prenda</a></li>
            <li class="active">Crear Prenda</li>
        </ol>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Nueva prenda

                    <div class="pull-right">
                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default btn-xs" })
                    </div>

                    <div class="pull-right">
                        <input type="submit" value="CREAR" class="btn btn-default btn-xs" />
                    </div>
                </h4>
                <p></p>
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (User.IsInRole("Diseñador"))
                    {
                        <div class="form-group hidden">
                            <div class="col-md-12">
                                @Html.HiddenFor(model => model.UserId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }

                    @if (User.IsInRole("Cliente") || User.IsInRole("Administrador"))
                    {
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, "Diseñador", htmlAttributes: new { @class = " col-md-12" })
                                <div class="col-md-12">
                                    @Html.DropDownList("Userid", null, "Selecionar Diseñador", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }

                    <div id="cate" class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TipoId, "Categoria", htmlAttributes: new { @class = " col-md-12" })
                            <div class="col-md-12">
                                @Html.Hidden("TipoId", null, htmlAttributes: new { @class = "form-control", @placeholder = "Buscar" })
                                @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })
                                <input class="form-control Tipo_Nombre text-box single-line valid" id="Tipo_Nombre" name="Categoria" type="text" value="" autocomplete="off" placeholder="Buscar">
                            </div>
                        </div>
                    </div>

                    <div id="nom" class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <br>
                        <div class="form-group pull-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Agregar accesorios
                </h4>
                <p></p>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="sheepItForm">
                            <div id="sheepItForm_template" class="form-group">
                                <div class="col-md-3">
                                    @Html.DropDownList("TelaId", null, "Selecionar Tela", htmlAttributes: new { @id = "sheepItForm_#index#_tela", @class = "form-control sheepItForm_#index#_tela", Name = "DetallePrendas[#index#].TelaId" })
                                </div>
                                <div class="col-md-2">
                                    <input type="number" name="DetallePrendas[#index#].MetroTela" class="form-control" placeholder="Metros" id="sheepItForm_#index#_metros" />
                                </div>

                                <div class="col-md-3">
                                    @Html.DropDownList("AvioId", null, "Selecionar Avio", htmlAttributes: new { @id = "sheepItForm_#index#_avio", @class = "form-control sheepItForm_#index#_avio", Name = "DetallePrendas[#index#].AvioId" })

                                </div>
                                <div class="col-md-2">
                                    <input type="number" name="DetallePrendas[#index#].CantidadAvio" class="form-control" placeholder="Cantidad" id="sheepItForm_#index#_cantidad" />
                                </div>
                                <div class="col-md-2">
                                    <span class="btn btn-danger btn-block delete">
                                        <i class="fa fa-trash" id="sheepItForm_remove_current"> </i>
                                    </span>
                                </div>
                            </div>
                            <div id="sheepItForm_noforms_template"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <div id="sheepItForm_controls" class="btn btn-primary">
                        <div id="sheepItForm_add">
                            <span>
                                <i class="fa fa-plus" id="agt"> Agregar tela</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@if (User.IsInRole("Administrador") || User.IsInRole("Cliente"))
{
    <script>
        $(function () {
            $("#cate").attr("class", "col-lg-4");
            $("#nom").attr("class", "col-lg-4");
        });
        </script>
}
    <script src="~/Scripts/jquery.addfield.js"></script>
    <script>
        $(function () {
            var sheepItForm = $('#sheepItForm').sheepIt({
                separator: '',
                allowRemoveLast: true,
                allowRemoveCurrent: true,
                allowRemoveAll: true,
                allowAdd: true,
                allowAddN: true,
                maxFormsCount: 10,
                minFormsCount: 0,
                iniFormsCount: 1
            });


          


            cargar_tipo();
            function cargar_tipo() {
                var codigoTipoPrenda = {
                    url: "/Tipos/getTipoPrendas",
                    getValue: "Categoria",
                    list: {
                        match: {
                            enabled: true
                        },
                        maxNumberOfElements: 8,
                        sort: {
                            enabled: true
                        },
                        onSelectItemEvent: function () {
                            var TipoId = $(".Tipo_Nombre").getSelectedItemData().Id;
                            $("#TipoId").val(TipoId).trigger("change");
                            var Precio = $(".Tipo_Nombre").getSelectedItemData().Precio;
                            $("#PrecioTotal").val(Precio);
                        },
                    },
                    theme: "plate-dark"
                    //theme: "square"
                    //theme: "round"
                };
                $("input.Tipo_Nombre").easyAutocomplete(codigoTipoPrenda);
                $(".easy-autocomplete-container").addClass("text-danger");

            };





            var precioTotal = 0;
            var telas = 0;
            var canttela = [];
            var cantidadtela = [];
            var lisTelas = [];
            var cnt = 1;
            var cd = 0;
            @*suma();
            function suma() {
                var pprenda = @Html.Raw(Json.Encode(Model.Precio));
                for (var i = 0; i < cnt; i++) {
                    canttela[i] = $("#sheepItForm_" + i + "_tela").val();
                    console.log();
                    temp = canttela[i];
                    cantidadtela[i] = parseInt(temp);
                    console.log(cantidadtela);
                }
                //cargar_tela();
                setTimeout(suma, 50);
            }*@

            $("#agt").click(function () {
                cnt += 1;
                cd += 1;
            });
            $("#sheepItForm_remove_current").click(function () {
                cnt -= 1;
                cd -= 1;
            });

        });
    </script>
}
