@model Perchero.Models.Prenda

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Prenda</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoId, "TipoId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Talle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Talle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Talle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vitrina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Vitrina)
                    @Html.ValidationMessageFor(model => model.Vitrina, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrecioTotal, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
    var i = 0;
    foreach (var item in Model.DetallePrendas)
    {
        <div class="form-group col-lg-12">
            @Html.HiddenFor(model => item.PrendaId, new { value = Model.Id, Name = "DetallePrendas[" + @i + "].PrendaId" })
            @Html.HiddenFor(model => item.Id, new { value = Model.Id, Name = "DetallePrendas[" + @i + "].Id" })
            <div class="col-md-3">
                @Html.DropDownListFor(modelItem => item.TelaId, new SelectList(ViewBag.TelaId, "Value", "Text", item.TelaId), "Seleccionar Tela", htmlAttributes: new { @class = "form-control", Name = "DetallePrendas[" + @i + "].TelaId", id = "DetallePrendas[" + @i + "].TelaId" })
                
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => item.MetroTela, new { htmlAttributes = new { @class = "form-control", Name = "DetallePrendas[" + @i + "].MetroTela", id = "DetallePrendas[" + @i + "].MetroTela" } })
            </div>

            <div class="col-md-3">
                @Html.DropDownListFor(modelItem => item.AvioId, new SelectList(ViewBag.AvioId, "Value", "Text", item.AvioId), "Seleccionar Avio", htmlAttributes: new { @class = "form-control", Name = "DetallePrendas[" + @i + "].AvioId", id = "DetallePrendas[" + @i + "].AvioId" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => item.CantidadAvio, new { htmlAttributes = new { @class = "form-control", Name = "DetallePrendas[" + @i + "].CantidadAvio", id = "DetallePrendas[" + @i + "].CantidadAvio" } })
            </div>
            <div class="col-md-2">
                <span class="btn btn-danger btn-block delete">
                    <i class="fa fa-trash" id=""> </i>
                </span>
            </div>
        </div>
        i++;
    }
}
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
               