@model IEnumerable<Perchero.Models.Prenda>

@{
    ViewBag.Title = "Prendas";
}
<div class="contentpanel">

    <ol class="breadcrumb breadcrumb-quirk">
        <li>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-home mr5"></i>Inicio</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                @ViewBag.Title
                <div class="pull-right">
                    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-default btn-xs" })
                </div>
            </h4>
            <p></p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-striped-col">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo.Categoria)
                            </th>
                            <th>
                                Prenda
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Imagen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Talle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vitrina)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrecioTotal)
                            </th>
                            <th class="col-sm-1">
                                Opciones
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo.Categoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    <span class="img-responsive">
                                        <img class="img-circle img-frame" width="40" src="@Url.Content("~/Content/imgprenda/imgprev/"+item.Imagen+"/"+item.Imagen+".png")" />
                                    </span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Talle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vitrina)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrecioTotal)
                                </td>
                                <td class="col-sm-1 text-center">
                                    <a href="@Url.Action("Edit", "Prendas", new {id = item.Id})"><i class="fa fa-pencil"></i></a>
                                    <a href="@Url.Action("Details", "Prendas", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", "Prendas", new { id = item.Id })"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- panel -->

</div><!-- contentpanel -->