@model IEnumerable<Perchero.Models.RoleDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-page">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
        <li><a href="@Url.Action("Index","Admin")">Usuario</a></li>
        <li class="active">Roles</li>
    </ol>
    <!-- Start Content here -->
    <div class="content">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>

            <a class="btn btn-green-2" href="@Url.Action("AddRole","Admin")"><i class="fa fa-plus-square"></i> Nuevo</a>
            <a class="btn btn-darkblue-3" href="@Url.Action("Index","Admin")"><i class="fa fa-mail-reply"></i> Volver</a>
        </p>
        <table class="table">
            <tr>
                <th>
                    Roles
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @if (item.RoleName.ToLower() != "administrador")
                        {
                            @Html.ActionLink("Editar", "EditRoles",
                   new { RoleName = item.RoleName })
                        }
                    </td>
                    <td>
                        @if (item.RoleName.ToLower() != "administrador")
                        {
                            @Html.ActionLink("Eliminar", "DeleteUserRole",
                   new { RoleName = item.RoleName },
                   new
                   {
                       onclick =
                   "return confirm('Esta seguro de que desea eliminar el rol?');"
                   })
                        }
                    </td>

                </tr>
            }
        </table>
        <footer>
            Dianasys &copy; 2016
            <div class="footer-links pull-right">
                <a href="#">Soporte</a>
                <a href="#">Ayuda</a>
                <a href="#">Contactos</a>
            </div>
        </footer>
    </div>
</div>

